USE [master]
GO
/****** Object:  Database [RPGdb]    Script Date: 19/08/2025 10:05:56 ******/
CREATE DATABASE [RPGdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RPGdb', FILENAME = N'/var/opt/mssql/data/RPGdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RPGdb_log', FILENAME = N'/var/opt/mssql/data/RPGdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RPGdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RPGdb]
GO
/****** Object:  Table [dbo].[Campanhas]    Script Date: 19/08/2025 10:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campanhas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[NexBase] [int] NULL,
	[NumeroJogadores] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
